body {
    background-color: red;
}

@font-face {
    font-family: Albert Sans;
    src: url(Fonts/AlbertSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: Brush Script MT;
    src: url(Fonts/BRUSHSCI.TTF);
}


/* ------- SliderIntro ------------ */
#sliderIntro {
    width: 86%;
    height: 25px;
    left: 7%;
    right: 7%;
    position: relative;
    display: flex;
    align-items: center;
}

#sliderIntroText {
    text-align: left;
    font: normal normal 900 20px/35px Albert Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
}

#sliderIntroButton {
    display: inline-flex;
    position: absolute;
    right: 0%;
    top: 10px;
    height: 20px;

    background-color: #FFFFFF;
    border-radius: 6px;

    padding: 0px 10px 0px 10px;
    text-align: center;
    align-items: center;
    font: normal normal 600 9px/60px Albert Sans;
    letter-spacing: 0px;
    color: #E82723;
}

/* ------- End of SliderIntro ------------ */

/* ------- Slider bar ------------ */
#textAndBar {
    width: 83%;
    height: 25px;
    left: 10%;
    right: 7%;
    position: relative;
    display: flex;
    align-items: center;
}

#barText {
    text-align: right;
    font: normal normal 900 20px/35px Albert Sans;
    letter-spacing: 0px;
    color: #E82723;

    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #FFFFFF;
}

#sliderBar {
    font-size: 0px;
    text-align: right;
    width: 70%;

    position: absolute;
    right: 0%;
    top: 10px;
    height: 35px;
}

.bar {
    cursor: pointer;
    height: 1px;
    width: 7%;
    background-color: #bbb;
    display: inline-block;
    transition: background-color 0.6s ease;
    vertical-align: 6px;
}

#bar0 {
    border-radius: 6px 0% 0% 6px;
    border-left: 2px solid black;
}

#bar9 {
    border-radius: 0% 6px 6px 0%;
    border-right: 2px solid black;
}

.highlightBar {
    background-color: white;
    transition: background-color 0.5s ease;
}

.arrow {
    width: 7%;
}

.arrowLeft {
    margin-right: 3px;
}

.arrowRight {
    margin-left: 3px;
}

/* ------- End of Slider bar ------------ */

/* ------- Slider ------------ */
.slideContainer {
    width: 100%;
    white-space: nowrap;
    overflow-x: hidden;
}

.sliderCards {
    pointer-events: none;
    position: relative;
}

.sliderImages {
    width: 25%;
    margin-top: 8px;
}

/* ------- End of Slider ------------ */

/* ------- Infos et Bons Plans ------------ */
#infosBonsPlans {
    position: relative;
    left: 50%;
    transform: translate(-50%);

    width: 70%;
    background-color: #F8DF00;
    border-radius: 7px;
    margin-bottom: 15px;
}

#adSliderModeTips {
    text-align: left;
    font: italic normal bold 23px/0px Albert Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    left: 10px;
    position: relative;

    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #000000;
}

#infosBonsPlansText {
    text-align: center;
    font: normal normal 900 3.1vw/10px Albert Sans;
    letter-spacing: 0px;
    color: #000000;
    width: 40%;
    left: 30%;
    position: relative;
}

#emailArea {
    display: inline-flex;
    width: 40%;
    left: 30%;
    position: relative;
}

#emailTextArea {
    width: 100%;
    border-radius: 90px;

    font: normal normal normal 8px/14px Albert Sans;
    letter-spacing: 0px;
    color: #000000;
}

#emailArrow {
    top: 5px;
    width: 12px;
    height: 12px;
    position: relative;
    text-align: right;
}

#adSliderConfidentialite {
    text-align: center;
    font: normal normal normal 6px/7px Albert Sans;
    letter-spacing: 0px;
    color: #000000;
}

#infosBonsPlansSpacing {
    height: 10px;
}

/* ------- End of Infos et Bons Plans ------------ */

/* ------- Ad Slider ------------ */
.adSlideContainer {
    width: 100%;
    white-space: nowrap;
    overflow-x: hidden;
}

.adSliderCards {
    pointer-events: none;
    position: relative;
    left: -35px;
    height: 100%;
}

.adSliderImageContainer {
    --width: 11%;

    display: inline-block;
    position: relative;
    width: var(--width);
    margin-right: 2px;
    margin-left: 2px;
    vertical-align: text-top;
}

.adSliderImageContainerHover {
    width: calc(var(--width) + 4px);
    margin-right: 0px;
    margin-left: 0px;
}

.adSliderImages {
    position: relative;
    width: 100%;
}

/* ------- End of Ad Slider ------------ */

@media (min-width: 600px) {
    #sliderIntro {
        height: 60px;
    }

    #sliderIntroText {
        font-size: 4vw;
    }

    #sliderIntroButton {
        padding: 0px 30px 0px 30px;
        font-size: 15px;
        border-radius: 6px;
        height: 35px;
    }

    #textAndBar {
        height: 60px;
    }

    #barText {
        font-size: 4vw;
    }

    .bar {
        height: 3px;
        width: 8%;
        vertical-align: 11px;
    }

    .arrow {
        width: 3%;
    }

    .arrowLeft {
        margin-right: 10px;
    }

    .arrowRight {
        margin-left: 10px;
    }

    .sliderImages {
        width: 20%;
        margin-right: 20px;
        margin-top: 25px;
    }

    #infosBonsPlans {
        width: 60%;
        border-radius: 11px;
        margin-bottom: 50px;
    }

    #adSliderModeTips {
        left: 5%;
        font-size: 3vw;

        -webkit-text-stroke-width: 2.5px;
    }

    #infosBonsPlansText {
        width: 60%;
        left: 20%;
    }

    #emailArea {
        width: 60%;
        left: 20%;
    }

    #emailTextArea {
        font-size: 10px;
    }

    #emailArrow {
        width: 16px;
        height: 16px;
    }

    #adSliderConfidentialite {
        font-size: 10px;
    }

    #infosBonsPlansSpacing {
        height: 20px;
    }

    .adSliderImageContainer {
        --width: 9%;
        width: var(--width);
        margin-right: 8px;
        margin-left: 8px;
    }

    .adSliderImageContainerHover {
        width: calc(var(--width) + 16px);
    }
}